<div id="wrapper" class="">
  <div class="overlay" style="display: none;"></div>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <app-menu></app-menu>
  </nav>
  <div id="page-content-wrapper">
    <button type="button" (click)="buttonSwitch()" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container">
      ...YOUR CONTENT...
    </div>
  </div>
</div>