<ul class="nav">
  <li class="sidebar-nav-color">
    <a href="#"><img src="../../assets/images/Engagements.png" /> <span>Data Analytics Engagements</span></a>
  </li>
  <li class="sidebar-nav-color">
    <a href="#"><img src="../../assets/images/TeamIcon.png" /> <span>Team</span></a>
  </li>
  <li class="sidebar-nav-color">
    <a href="#"><img src="../../assets/images/HelpIcon.png" /> <span>Help</span></a>
  </li>
  <li class="sidebar-nav-color">
    <a href="#"><img src="../../assets/images/SettingsIcon.png" /> <span>Setting</span></a>
  </li>
</ul>