<ul class="nav">
  <li class="sidebar-nav-color">
    <!--
<a href="#"><img src="../../assets/images/engagement.svg" /> <span>Data Analytics Engagements</span></a>
    -->
    <object id="engagementSVG" style="color:#fff" width="27px" data="../../assets/images/engagement.svg" type="image/svg+xml"></object>
    <span>Data Analytics Engagements</span>
  </li>
  <!--
<li class="sidebar-nav-color">
  <a href="#"><img src="../../assets/images/TeamIcon.png" /> <span>Team</span></a>
</li>
<li class="sidebar-nav-color">
  <a href="#"><img src="../../assets/images/HelpIcon.png" /> <span>Help</span></a>
</li>
<li class="sidebar-nav-color">
  <a href="#"><img src="../../assets/images/SettingsIcon.png" /> <span>Setting</span></a>
</li>
  -->
</ul>
