<div class='dataItems row' *ngIf="tilesData">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tile" *ngFor="let item of tilesData">
    <span class="launchWrapper">
      <img src={{item.src}} />
      <div class="middle">
        <a href="https://www.google.com" target="_blank" class="text">LAUNCH</a>
      </div>
    </span>
    <br />
    <span class="desc">
      <h6>{{item.heading}}</h6>
      <p>{{item.desc}}</p>
    </span>
    <div class="row content-board">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 content-resp">
        <i class="fa fa-user"> User</i>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 content-resp">
        <i class="fa fa-map-marker"> Location</i>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 content-resp">
        <i class="fa fa-users"> Team</i>
      </div>
    </div>
  </div>
</div>
