<div class='dataItems row' *ngIf="tilesData">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 tile" *ngFor="let item of tilesData; let i=index">
    <span class="launchWrapper" *ngIf="urlData">
      <img src={{item.src}} />
      <div class="middle">
        <a href="{{urlData[i].Url+urlData[i].Id}}" target="_blank" class="text">LAUNCH</a>
      </div>
    </span>
    <br />
    <span class="desc">
      <h6>{{item.heading}}</h6>
      <p>{{item.desc}}</p>
    </span>
    <div class="row content-board">
      <div class="col-xs-5 col-lg-5 col-md-5 col-sm-5 content-resp">
        <i class="fa fa-user"></i><span> {{item.user}}</span>
      </div>
      <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 content-resp">
        <i class="fa fa-map-marker"></i><span> {{item.location}}</span>
      </div>
      <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 content-resp">
        <i class="fa fa-users"></i><span> {{item.teamSize}}</span>
      </div>
    </div>
  </div>
</div>
