<ul class='dataItems' *ngIf="tilesData">
  <li *ngFor="let item of tilesData">
    <span class="launchWrapper"><img src={{item.src}} />
      <div class="middle">
        <div class="text">Launch</div>
      </div>
    </span>
    <br />
    <span class="desc">
      <h6>{{item.heading}}</h6>
      <p>{{item.desc}}</p>
    </span>
    <span class="icons">
      <table class="table table-borderless">
        <tr>
          <td><span class="iconContainer"><i class="fa fa-user"></i></span> User</td>
          <td><span class="iconContainer"><i class="fa fa-map-marker"></i></span> Location</td>
          <td><span class="iconContainer"><i class="fa fa-users"></i></span> Team</td>
        </tr>
      </table>
    </span>
  </li>
</ul>