
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #E4E9F2;
  width: 100%;
}
  #wrapper.toggled #sidebar-wrapper {
      width: 220px;
  }

  #wrapper.toggled #page-content-wrapper {
      margin-right: -220px;
      position: absolute;
  }
   
#page-content-wrapper{
  padding-top: 50px ;
}
#sidebar-wrapper {
  background:#002776;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 75px;
  z-index: 1000;
  top: 50px;
}

.nav .open > a {
  background-color: transparent;
}

  .nav .open > a:hover {
      background-color: transparent;
  }

  .nav .open > a:focus {
      background-color: transparent;
  }
  .sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}


#wrapper.toggled #sidebar-wrapper {
  width: 260px;
}


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
#wrapper hr{
  margin-top: 60px;
  padding: 0;
}
#wrapper h4{
  margin-left: 50px;
}